**[Pandas Home Page](https://www.kaggle.com/learn/pandas)**

In these exercises we'll apply groupwise analysis to our dataset. Run the code cell below to load the data before running the exercises.

In [25]:
import pandas as pd

reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

# from learntools.core import binder; binder.bind(globals())
# from learntools.pandas.grouping_and_sorting import *
print("Setup complete.")

Setup complete.

# Exercises

1. Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [26]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [30]:
# Your code here
reviews_written = reviews.groupby('taster_twitter_handle').size()
print(reviews_written)

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

2. What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [34]:
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
print(type(best_rating_per_price))
print(best_rating_per_price)

<class 'pandas.core.series.Series'>
price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

3. What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [35]:
price_extremes = reviews.groupby('variety').price.agg([min,max])
print(price_extremes)

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

4. What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [36]:
sorted_varieties = price_extremes.sort_values(by = ['min','max'], ascending = False)
print(sorted_varieties)

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

5. Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [37]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
print(reviewer_mean_ratings)

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [38]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64

6. What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [39]:
country_variety_counts = reviews.groupby(['country','variety']).size().sort_values(ascending = False)
print(country_variety_counts)

country    variety
US         Pinot Noir                  9885
           Cabernet Sauvignon          7315
           Chardonnay                  6801
France     Bordeaux-style Red Blend    4725
Italy      Red Blend                   3624
                                       ...
Uruguay    Tempranillo-Tannat             1
Italy      Pignolo                        1
           Muscat                         1
           Moscato di Noto                1
Argentina  Barbera                        1
Length: 1612, dtype: int64

**Groupwise analysis**

In [5]:
# One function we've been using heavily thus far is the value_counts() function. We can replicate what value_counts()
# does by doing the following
reviews.groupby('points').points.count().head()

points
80     397
81     692
82    1836
83    3025
84    6480
Name: points, dtype: int64

In [7]:
# To get the cheapest wine in each point value category
reviews.groupby('points').price.min().head()

points
80    5.0
81    5.0
82    4.0
83    4.0
84    4.0
Name: price, dtype: float64

In [8]:
# One way of selecting the name of the first wine reviewed from each winery in the dataset
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [13]:
# For even more fine-grained control, you can also group by more than one column. For an example, here's how we would pick
# out the best wine by country and province
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()]).head(3)

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...

                                 designation  points  price          province  \
country   province
Argentina Mendoza Province  Nicasia Vineyard      97  120.0  Mendoza Province
          Other                      Reserva      95   90.0             Other
Armenia   Armenia             Estate Bottled      88   15.0           Armenia

                           region_1 region_2        taster_name  \
country   province
Argentina Mendoza Province  Mendoza      NaN  Michael Schachner
          Other               Salta      NaN  Michael Schachner
Armenia   Armenia               NaN      NaN      Mike DeSimone

                           taster_twitter_handle  \
country   province
Argentina Mendoza Province           @wineschach
          Other                      @wineschach
Armenia   Armenia                 @worldwineguys

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)

                           variety                winery
country   province
Argentina Mendoza Province  Malbec  Bodega Catena Zapata
          Other             Malbec                Colomé
Armenia   Armenia             Rosé              Van Ardi

In [11]:
# Another groupby() method worth mentioning is agg(), which lets you run a bunch of different functions on your DataFrame
# simultaneously. For example, we can generate a simple statistical summary of the dataset as follows
reviews.groupby(['country']).price.agg([len, min, max]).head()

                           len   min     max
country
Argentina               3800.0   4.0   230.0
Armenia                    2.0  14.0    15.0
Australia               2329.0   5.0   850.0
Austria                 3345.0   7.0  1100.0
Bosnia and Herzegovina     2.0  12.0    13.0

**Multi-indexes**

Refer [Advanced Multi-index/Seelction](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html)

In [18]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed.head()

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85

In [15]:
type(countries_reviewed.index)

pandas.core.indexes.multi.MultiIndex

In [17]:
countries_reviewed.reset_index().head()

     country          province   len
0  Argentina  Mendoza Province  3264
1  Argentina             Other   536
2    Armenia           Armenia     2
3  Australia   Australia Other   245
4  Australia   New South Wales    85

**Sorting**

Looking again at countries_reviewed we can see that grouping returns data in index order, not in value order. That is to say, when outputting the result of a groupby, the order of the rows is dependent on the values in the index, not in the data.

To get data in the order want it in we can sort it ourselves. The sort_values() method is handy.

In [20]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len').head()

     index       country               province  len
179    179        Greece  Muscat of Kefallonian    1
192    192        Greece          Sterea Ellada    1
194    194        Greece                 Thraki    1
354    354  South Africa             Paardeberg    1
40      40        Brazil       Serra do Sudeste    1

In [21]:
# Sort_values() defaults to an ascending sort, where the lowest values go first. However, most of the time we want a
# descending sort, where the higher numbers go first
countries_reviewed.sort_values(by='len', ascending=False).head()

     index country    province    len
392    392      US  California  36247
415    415      US  Washington   8639
118    118  France    Bordeaux   5941
227    227   Italy     Tuscany   5897
409    409      US      Oregon   5373

In [23]:
# To sort by index values, use the companion method sort_index(). This method has the same arguments and default order
countries_reviewed.sort_index().head()

   index    country          province   len
0      0  Argentina  Mendoza Province  3264
1      1  Argentina             Other   536
2      2    Armenia           Armenia     2
3      3  Australia   Australia Other   245
4      4  Australia   New South Wales    85

In [24]:
# Sort by more than one column at a time
countries_reviewed.sort_values(by=['country', 'len'])

     index    country          province   len
1        1  Argentina             Other   536
0        0  Argentina  Mendoza Province  3264
2        2    Armenia           Armenia     2
6        6  Australia          Tasmania    42
4        4  Australia   New South Wales    85
..     ...        ...               ...   ...
421    421    Uruguay        Montevideo    11
422    422    Uruguay          Progreso    11
420    420    Uruguay           Juanico    12
424    424    Uruguay           Uruguay    24
419    419    Uruguay         Canelones    43

[425 rows x 4 columns]